.sources {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    height: 80vh;
    overflow-y: scroll;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.sources::-webkit-scrollbar {
    width: 20px;
}
  
.sources::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
  
.sources::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    width: 57%;
    text-align: center;
    border-radius: 5px;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    /* white-space: nowrap; */
}
